# Dépendances
node_modules/
package-lock.json

# Variables d'environnement
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de build
dist/
build/

# Dossier d'uploads
uploads/*
!uploads/.gitkeep

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers de couverture de tests
coverage/

# Fichiers temporaires
tmp/
temp/ 